#header-nav{
    background-color: #e6b01d;
    color: rgb(59, 5, 80);
    
}

#header-nav a{
    text-decoration: none;
    color: rgb(87, 9, 177);
}

.nav-item{
    border: 0.5px dotted black;
    margin: 1px;
    padding: 2px 5px;
}

#subheading{
    background-color: rgb(252, 215, 94);
    
}
#subheading h3{
    color: rgb(22, 73, 184);
    padding: 20px 0px;
}

#mycontent{
    background-color: bisque;
}
